{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block html %}
{% block head %}
    <meta charset="UTF-8">
    <title>Kfejk by Retried</title>
    {% block style %}
        <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='add-change-data.css') }}"/>
        <link href='https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap' rel='stylesheet' type='text/css'>
    {% endblock %}
{% endblock %}
{% block body %}
    <nav class="nav-bar">
        <div class="logo">
            <a href="/">
                <img src="/static/logo.png" alt="LOGO"/>
            </a>
        </div>
        <div class="login-logout">
            {% if current_user.is_authenticated %}
                <a href="logout" class="btn dark login">Wyloguj się</a>
            {% else %}
                <a href="login" class="btn lime login">Zaloguj się</a>
            {% endif %}
        </div>
    </nav>
    <div class="log">
        <section class="memes">
            <div class="meme">
                <form action="/add" enctype="multipart/form-data" method="POST">
                    <div class="meme-user">
                        <div class="meme-user-image">
                            <img src="{{ image_file }}" alt="img">
                        </div>
                        <p class="meme-user-name">{{ name }}</p>
                    </div>
                    <div class="meme-title">
                        {{ form.hidden_tag() }}
                        <div class="title">
                            {{ wtf.form_field(form.title) }}
                        </div>
                        <div class="meme-image">
                            {{ form.picture(class="pic") }}
                        </div>
                    </div>
                    <div class="meme-footer">
                        {{ wtf.form_field(form.send) }}
                    </div>
                </form>
            </div>
        </section>
    </div>
    <footer class="footer">
        <a href="https://github.com/Retried" class="footer-content">&copy; Doga Company</a>
    </footer>
{% endblock %}
{% endblock %}