{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block html %}
{% block head %}
    <meta charset="UTF-8">
    <title>Kfejk by Retried</title>
    {% block style %}
        <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='add-change-data.css') }}"/>
        <link href='https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap' rel='stylesheet' type='text/css'>
    {% endblock %}
{% endblock %}
{% block body %}
    <nav class="nav-bar">
        <div class="logo">
            <a href="/">
                <img src="/static/logo.png" alt="LOGO"/>
            </a>
        </div>
        <div class="login-logout">
            <!--jeżeli zalogowany znika login-->
            {% if current_user.is_authenticated %}
                <a href="logout" class="btn dark login">Wyloguj się</a>
            {% else %}
                <a href="login" class="btn lime login">Zaloguj się</a>
            {% endif %}
        </div>
    </nav>
    <div class="log">
        <section class="memes">
            <div class="meme">
                <form action="/avatar" enctype="multipart/form-data" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="user">
                        <div class="user-image">
                            <img src="{{ image_file }}" alt="img" class="old">
                            <!--<input type="file" name="pic" class="new-pic"/>-->
                        </div>
                        {% if form.picture.errors %}
                            {% for error in form.picture.errors %}
                                <span class="text-danger">{{ error }}</span></br>
                            {% endfor %}
                        {% endif %}
                        <!--Wczytaj nickname użytkownika-->
                        <p class="user-name">{{ name }}</p>
                    </div>
                    <div>
                            {{ form.hidden_tag() }}
                            <div class="add-pic">
                                {{ form.picture(class="new-pic") }}
                            </div>
                    </div>
                    <div class="meme-footer">
                        {{ wtf.form_field(form.save) }}
                        <!--<input type="submit" class="sbm" value="Zapisz"/>-->
                    </div>
                </form>
            </div>
        </section>
    </div>
    <footer class="footer">
        <a href="https://github.com/Retried" class="footer-content">&copy; Doga Company</a>
    </footer>
{% endblock %}
{% endblock %}
