{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block html %}
{% block head %}
    <meta charset="UTF-8">
    <title>Kfejk by Retried</title>
    {% block style %}
        <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
        <link href='https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap' rel='stylesheet' type='text/css'>
    {% endblock %}
{% endblock %}
<script>
    async function vote(image) {
    const response = await fetch('/vote', {
        method: 'POST',
        body: image
    });
        const alert = document.createElement('div')
        alert.style = "width: 100px; height: 30px; background: green; position: fixed; bottom: 10px; right: 20px; padding: 5px; z-index: 100; border-radius: 10px; text-align: center;"
        alert.textContent = "Polubiono!"
        alert.classList.add("alert")
        document.body.appendChild(alert)
        setTimeout(() => {
            document.getElementsByClassName('alert')[0].remove()
        }, 2000)
        document.querySelector(`#img-${image}`).remove()
    return false;
}
</script>
{% block body %}
    <nav class="nav-bar">
        <div class="logo">
            <a href="/">
                <img src="/static/logo.png" alt="LOGO"/>
            </a>
        </div>
        <div class="login-logout">
            <!--jeżeli zalogowany znika login-->
            {% if current_user.is_authenticated %}
                <a href="/logout" class="btn dark login">Wyloguj się</a>
            {% else %}
                <a href="/login" class="btn lime login">Zaloguj się</a>
            {% endif %}
        </div>
    </nav>
    <main>
        <section class="fake-panel-only-for-flex-purposes">
        </section>
        <section class="memes">
            {% for img in imgs[::-1] %}
            <div class="meme">
                <div class="meme-user">
                    <div class="meme-user-image">
                        <img src="{{ url_for('static', filename='profile_pics/' + img.author.image_file) }}" alt="img">
                    </div>
                    <p class="meme-user-name">{{img.autor}}</p>
                </div>
                <div class="meme-content">
                    <div class="meme-title">{{img.name}}</div>
                    <div class="meme-image">
                        <a href="/{{img.id}}">
                        <img src="/{{img.id}}" alt="meme-image" class="meme-image-content">
                        </a>
                    </div>
                </div>
                <div class="meme-footer">
                    <div class="meme-reactions">
                        +{{img.points}}
                    </div>
                    {% if current_user.is_authenticated %}
                        {% if img.autor != current_user.username %}
                                <form onclick="vote({{ img.id }})" onsubmit="return false" id="img-{{ img.id }}">
                                    {{ wtf.form_field(form.point) }}
                                </form>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </section>
        <section class="user-panel">
            <div class="user-panel-user-data">
                <div class="user-data-image">
                    {% if current_user.is_authenticated %}
                        <img src="{{ image_file }}" alt="img" class="user-image">
                        <a href="/avatar" class="change-avatar"><img src="/static/plus.png" alt="123"></a>
                    {% else %}
                        <a href="/avatar"><img src="{{ image_file }}" alt="123" ></a>
                    {% endif %}
                </div>
                <div class="user-data-nickname">
                    {{ name }}
                </div>
            </div>
            <div class="add-meme">
                <a href="/add" class="btn lime">Dodaj mema</a>
            </div>
        </section>
    </main>
    <footer class="footer">
        <a href="https://github.com/Retried" class="footer-content">&copy; Doga Company</a>
    </footer>
{% endblock %}
{% endblock %}