{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block html %}
{% block head %}
    <meta charset="UTF-8">
    <title>Kfejk by Retried</title>
    {% block style %}
        <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
        <link href='https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap' rel='stylesheet' type='text/css'>
    {% endblock %}
{% endblock %}
{% block body %}
    <nav class="nav-bar">
        <div class="logo">
            <a href="/">
                <img src="/static/logo.png" alt="LOGO"/>
            </a>
        </div>
        <div class="login-logout">
        </div>
    </nav>
    <div class="log">
        <div class="login-form">
            <div class="login-top">
                logowanie
            </div>
            <form action="/login" class="login" method="POST">
                {{ form.hidden_tag() }}
                <div class="in-data">
                    {{ wtf.form_field(form.username) }}
                </div>
                <div class="in-data">
                    {{ wtf.form_field(form.password) }}
                </div>
                <div class="submit">
                    {{ wtf.form_field(form.login) }}
                </div>
            </form>
            <a href="/register" class="reg-link">Nie masz konta? Zarejestruj się.</a>
        </div>
    </div>
    <footer class="footer">
        <a href="https://github.com/Retried" class="footer-content">&copy; Doga Company</a>
    </footer>
{% endblock %}
{% endblock %}